#index-sidebar-container {
    height: auto;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 25%;
    right: 5%;
    left: 80%;
    overflow-x: hidden;
    color: lightgrey;
    display: flex;
    flex-direction: column;
    border: 1px lightgray;
    border-left-style: solid;
}

#index-sidebar-title {
    text-align: left;
    text-indent: 10%;
}

#index-sidebar-title a {
    text-decoration: none;
}

#index-sidebar-contents a {
    text-decoration: none;
    font-size: 15px;
    text-align: left;
    color: #818181;
    display: block;
}

#index-sidebar-contents a:hover {
    color: lightblue;
}

#TableOfContents {
    left: 0;
}

#TableOfContents ul {
    list-style-type: none;
    margin: 5% 10% 10% 5%;
}

#TableOfContents li {
    margin: 1px;
    line-height: 30px;
}

@media screen and (mad-device-width: 1200px) {
    #index-sidebar-container {
        display: none;
    }
    /* #index-sidebar-contents a {
        text-decoration: none;
        font-size: 2px;
        text-align: left;
        color: #818181;
        display: block;
    }
    #TableOfContents li {
        margin: 1px;
        line-height: 10px;
    } */
  }